<html>
<head>
    <title>Shoes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>
<body>
    <div class='container-fluid text-center jumbotron'>
        <h1>Portland's Shoe Catalog</h1>
    </div>
    <div class='container'>
        <h2>Keep track of shoe stores in your area and the brands they carry</h2><hr><br>
        <h3><a href="/stores">Add or view a Shoe Store</a></h3>
        <h3><a href="/brands">Add or view our Brands</a></h3>
    </div>
</body>
</html>
