<html>
<head>
    <title>Shoes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>
<body>
    <div class='container-fluid text-center jumbotron'>
        <h1>Portland's Shoe Catalog</h1>
    </div>
    <br>
    <div class='container'>
        {% if stores is not empty %}
            <h2>All available stores:</h2>
            <ul>
                {% for store in stores %}
                    <li><a href="/stores/{{ store.getId }}">{{ store.getStoreName }}</a>,
                        Location: {{ store.getLocation }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h3>Enter a Store</h3>
        <form action='/stores' method='post'>
            <label for='store_name'>Store Name:</label>
            <input id='store_name' name='store_name' type='text'>
            <label for='location'>Store Location:</label>
            <input id='location' name='location' type='text'>

            <button type='submit'>Add Store to Database</button>
        </form>
        <form action='/delete_stores' method='post'>
            <button type='submit'>Remove All Stores</button>
        </form>

        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
